
@{
    ViewData["Title"] = "Index";
}

<p id="test"></p>
<p id="test2"></p>
    <table id="item-container">
        <tr><th>Name</th><th>LastName</th><th>JobTitle</th></tr>
    </table>

    <br>
    <button id="loadbutton" type="button" onclick="loadItems()">Load</button>
<div id="content"></div>