
@{
    ViewData["Title"] = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Project2</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    @RenderBody()
    <script src="~/js/script.js">
    </script>
</body>
</html>